SUBSYSTEM=="usb", ATTR{manufacturer}=="INTEL", ATTR{product}=="MEDFIELD", MODE="0666"
SUBSYSTEM=="usb", ATTR{manufacturer}=="INTEL", ATTR{product}=="CLOVERVIEW", MODE="0666"
SUBSYSTEM=="usb", ATTR{manufacturer}=="INTEL", ATTR{product}=="MERRIFIELD", MODE="0666"
SUBSYSTEM=="usb", ATTR{manufacturer}=="INTEL", ATTR{product}=="MOOREFIELD", MODE="0666"
SUBSYSTEM=="usb", ATTR{manufacturer}=="DediProg", ATTR{product}=="SF100-ISP", MODE="0666"
SUBSYSTEM=="usb", ATTR{idProduct}=="dada", ATTR{idVendor}=="0483", MODE="0666"


